:root {
    --color_primary: #0A1128;
    --Color_secondary: #01173d;
    --color_back: #034078;
    --color_text: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

header {
    background-color: var( --color_back);
    height: 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li {
    display: inline;
    margin: 0 1em 0 2em;
}

header ul li a {
    text-decoration: none;
    color: var( --color_text);
    letter-spacing: 0.15em;
}

header img {
    margin-left: 1em;
}

.intro {
    width: 100%;
    height: 30em;
    background-color: var(--color_primary);
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    align-items: center;
    color: var( --color_text);
    line-height: 1.8em;
}

.s1 {
    text-align: justify;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.s1>h2 {
    text-transform: uppercase;
    margin: 20px;
    font-size: 1.85em;
    text-align: center;
}

.title {
    font-size: 3em;
    text-align: center;
    margin: 0.5em;
    letter-spacing: 0.1em;
}

.intro2 {
    width: 100%;
    height: auto;
    background-color: var(--color_primary);
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    align-items: center;
    color: var( --color_text);
    grid-template-areas: "c1 c2" "c3 c4";
    line-height: 1.8em;
}

.card1 {
    grid-area: c1;
    text-align: justify;
    margin: 1em;
}

.card1>h2 {
    margin: 1em;
    text-align: center;
    font-size: 1.85em;
}

.card2 {
    grid-area: c2;
}

.card3 {
    grid-area: c3;
}

.card4 {
    grid-area: c4;
    text-align: justify;
    margin: 1em;
}

.card4>h2 {
    margin: 1em;
    font-size: 1.85em;
    text-align: center;
}

.card_area {
    height: 20em;
    width: 100%;
    background-color: var(--Color_secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.info-card>img {
    width: auto;
}

@media screen and (max-width: 665px) and (min-width: 0px) {
    header {
        background-color: var( --color_back);
        height: 4em;
        display: flex;
        justify-content: end;
        align-items: center;
        font-size: 0.7em;
    }
    header ul li {
        display: inline;
        margin: 0 1em 0 1em;
    }
    header ul li a {
        text-decoration: none;
        color: white;
        letter-spacing: 0.15em;
    }
    header img {
        display: none;
    }
    .intro {
        height: 45em;
        background-color: var(--color_primary);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        place-items: center;
        color: var( --color_text);
        line-height: 1.5em;
    }
    .img-intro {
        width: 80%;
    }
    .s1 {
        margin-top: 2em;
        margin-bottom: 2em;
        text-align: justify;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: var( --color_text);
    }
    .s1 p {
        width: 100%;
    }
    .s1>h2 {
        text-transform: uppercase;
        margin: 20px;
        font-size: 1em;
    }
    .title {
        font-size: 1em;
        text-align: center;
        margin: 1em;
        letter-spacing: 0.1em;
    }
    .intro2 {
        width: 100%;
        height: auto;
        background-color: var(--color_primary);
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        align-items: center;
        color: var( --color_text);
        grid-template-areas: "c1 c1" "c2 c3" "c4 c4";
        line-height: 1.8em;
    }
    .card1 {
        grid-area: c1;
        text-align: justify;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 20px;
        color: var( --color_text);
    }
    .card1>h2 {
        font-size: 1em;
    }
    .card2 {
        grid-area: c2;
        width: 30%;
    }
    .card3 {
        grid-area: c3;
        width: 30%;
    }
    .card4 {
        grid-area: c4;
        text-align: justify;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 20px;
        color: var( --color_text);
    }
    .card4>h2 {
        font-size: 1em;
    }
    .card_area {
        width: 100%;
        background-color: var(--Color_secondary);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .info-card {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .info-card>img {
        width: 65%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 665px) {
    header {
        background-color: var( --color_back);
        height: 8em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
    }
    header ul li {
        display: inline;
        margin: 0 1em 0 1em;
    }
    header ul li a {
        text-decoration: none;
        color: white;
        letter-spacing: 0.15em;
    }
    .intro {
        width: 100%;
        height: 40em;
        background-color: var(--color_primary);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        place-items: center;
        color: var( --color_text);
    }
    .s1 {
        margin-top: 4em;
        text-align: justify;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 20px;
        color: var( --color_text);
        line-height: 1.5em;
    }
    .s1>h2 {
        text-transform: uppercase;
        margin-top: 1.5em;
        font-size: 1.4em;
    }
    .title {
        font-size: 2em;
    }
    .intro2 {
        width: 100%;
        height: 80em;
        background-color: var(--color_primary);
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        align-items: center;
        color: var( --color_text);
        grid-template-areas: "c1" "c2" "c4" "c3";
    }
    .card1 {
        font-size: 1em;
        grid-area: c1;
        text-align: justify;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 20px;
        color: var( --color_text);
    }
    .card1>h2 {
        font-size: 1.5em;
        margin: 1em;
    }
    .card2 {
        grid-area: c2;
        width: 30%;
    }
    .card3 {
        grid-area: c3;
        width: 30%;
    }
    .card4 {
        font-size: 1em;
        grid-area: c4;
        text-align: justify;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 20px;
        color: var( --color_text);
    }
    .card4>h2 {
        font-size: 1.5em;
        margin: 1em;
    }
    .card_area {
        height: 20em;
        width: 100%;
        background-color: var(--Color_secondary);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .info-card>img {
        width: 85%;
    }
}